# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore system files
.DS_Store
Thumbs.db

# PyInstaller Artifacts (Do not upload these!)
build/
dist/
*.spec
*.exe

# Temporary system files
__pycache__/